# Learn more about ENV variables at https://github.com/WebDevStudios/nextjs-wordpress-starter/wiki/env-variables

# Tells Next.js we're in development mode. You do not need a Vercel account for this.
VERCEL_ENV="development"

NEXT_PUBLIC_APP_URL = 'http://localhost:3000'

# TWOOPSTRACKER API URL
TWOOPSTRACKER_API_URL="https://dev.investigate.africa/v1"

NEXT_PUBLIC_TWOOPSTRACKER_AUTH_URL="https://dev.investigate.africa/auth"

NEXT_PUBLIC_GOOGLE_AUTH_URL="https://accounts.google.com/o/oauth2/v2/auth"

NEXT_PUBLIC_REDIRECT_URL="http://localhost:3000/login";

NEXT_PUBLIC_GOOGLE_CLIENT_ID=""