# Learn more about ENV variables at https://github.com/WebDevStudios/nextjs-wordpress-starter/wiki/env-variables

# Tells Next.js we're in development mode. You do not need a Vercel account for this.
VERCEL_ENV="development"

NEXT_PUBLIC_APP_URL = 'http://localhost:3000'

# TWOOPSTRACKER API URL
TWOOPSTRACKER_API_URL="https://dev.investigate.africa/v1"

CLIENT_ID= passportOrSomethingbutFromGoogle
CLIENT_SECRET= top top secret

AUTH_URL="militarygradeurl.com/auth"
REFRESH_URL="relax.com/and/refresh"




