# Learn more about ENV variables at https://github.com/WebDevStudios/nextjs-wordpress-starter/wiki/env-variables

# Tells Next.js we're in development mode. You do not need a Vercel account for this.
VERCEL_ENV="development"

NEXT_PUBLIC_APP_NAME=TrollTracker
NEXT_PUBLIC_APP_URL='http://localhost:3000'

# TWOOPSTRACKER API URL
NEXT_PUBLIC_TWOOPSTRACKER_API_URL="https://dev.investigate.africa/v1"

CLIENT_ID=passportOrSomethingbutFromGoogle
CLIENT_SECRET=top top secret

NEXTAUTH_URL = 'http://localhost:3000'


AUTH_URL="militarygradeurl.com/auth"
REFRESH_URL="relax.com/and/refresh"

# AWS S3 bucket for storing images
S3_UPLOAD_KEY=AAAAAAAAAAAAAAAAAAAA
S3_UPLOAD_SECRET=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
S3_UPLOAD_BUCKET=name-of-s3-bucket
S3_UPLOAD_REGION=bucket-region-us-east-1




